{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%  load static %}

{% bootstrap_messages %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'crm_manager/style.css' %}" />
    <link type="text/css" rel="stylesheet" media="screen, print" href="//v.fastcdn.co/f/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
</head>
<body>
    <div class="container">
        <h1>BeMyApp Data Management</h1>
        <p class="lead">In this page you'll be able to see, edit and download all the personal data BeMyApp has stored about you.</p>
        <hr>
        <form action="/crm/login/" method="post" class="form-inline">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button "SEND ME THE LINK" button_type=submit button_class="btn btn-primary mb-2" %}

        </form>
    </div>
</body>

