body {
    background-color: #e5ebf0;
    color: #2f5168;
}

hr {
    color: #939C9B; /* Цвет линии для остальных браузеров */
    background-color: #939C9B; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}

.container {
    padding: 48px;
    height: 100%;
    width: 100%;
    opacity: 1;
    filter:alpha(opacity=100);
    font-family: Open Sans, serif;
    font-size: 15px;
}

.form-inline .form-control {
    color: #133a5a;
    background-color: #ffffff;
    border: 1px solid #8eb4d0;
    padding: 9px 10px 10px 10px;
    border-radius: 3px;
    margin: 7px 0 8px 0;
    font-size: 15px;
    width: 300px;
    height: 43px;
}

.btn-primary {
    color: #fff;
    background-color: #cf403a;
    border-color: #cf403a;
    width: 210px;
    height: 29px;
    margin: 11px 2px;
    box-sizing: content-box;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
}

.btn-primary:hover{
    background-color: #a71711;
    border-color: #a71711;
}

.btn-primary:active:focus {
    background-color: #a71711;
    border-color: #a71711;
}